# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
.venv/

# Data & Models (quá nặng để push lên GitHub)
data/raw/
data/processed/
checkpoints/
*.pt
*.pth
*.onnx

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
*.DS_Store